.List-wrapper {
  margin: 10px 0px 0px 10px;
  padding: 10px;
  width: 350px;
  border-right: 1px solid
    linear-gradient(0deg, #dfdfdf 10%, #7a7a7a 40%, #0f0f0f 92%);
}

.List {
  list-style-type: none;
  padding: 0px;
}

.List li {
  align-items: center;
}

.List li:not(:first-of-type) {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .fa {
  background: none;
  border: none;
  border-radius: 20%;
}

.buttons .fa:hover {
  background: rgb(255, 232, 189);
}

.buttons .fa:active {
  background: rgb(255, 219, 152);
}

.buttons .list-config {
  display: flex;
  flex-direction: row;
}
