@import url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css);

:root {
  --RubyRed: #a41623;
  --OrangePantone: #f85e00;
  --Rajah: #ffb563;
  --DeepChampgne: #ffd29d;
  --GoldFusion: #918450;
}

body {
  overflow: hidden;
}

button {
  background: none;
  border: none;
  border-radius: 20%;
}
