:root {
  /* height: 100%;
  width: 100%;
  margin: 0px;
  bottom: 0;
  top:0; */
  --RubyRed: #a41623;
  --OrangePantone: #f85e00;
  --Rajah: #ffb563;
  --DeepChampgne: #ffd29d;
  --GoldFusion: #918450;
}

body {
  overflow: hidden;
  /* height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  top:0;
  bottom: 0; */
}
